:root {
  --main-font-family: 'Open Sans', sans-serif;
  --secondary-font-family-family: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-light: #555555;
  --accent-color: #ff6c00;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--main-font-family);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/* ================= COMPONENTS ================= */
.modal-open-btn {
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: var(--accent-color);
}

.modal-open-btn-theme-dark {
  /* color: #ffffff; */
}

.modal-open-btn-theme-light {
  color: #303030;
}

.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-light);
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.suptitle-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.suptitle-theme-light {
  color: var(--primary-text-color-theme-light);
}

.main-title {
  font-family: var(--secondary-font-family);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-description-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.section-description-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.title {
  font-family: var(--secondary-font-family-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title-theme-dark {
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 44px;
}

.title-theme-light {
  color: var(--primary-text-color-theme-light);
  margin-bottom: 20px;
}
/* ================= /COMPONENTS ================= */

/* ================= HEADER ================= */
.page-header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 70px;
}

.menu {
  display: flex;
  column-gap: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;

  /* color: #ffffff; */
}

.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}
/* ================= /HEADER ================= */

/* ================= HERO ================= */

/* ================= /HERO ================= */

/* ================= ABOUT ================= */
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}
/* ================= /ABOUT ================= */

/* ================= SERVICES ================= */
.services-table-name,
.services-table-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* ================= /SERVICES ================= */

/* ================= ADVANTAGES ================= */
.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primary-text-color-theme-light);
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-text-color-theme-light);
}
/* ================= /ADVANTAGES ================= */

/* ================= EMPLOYEES ================= */
.employees {
  background-color: #f7f7f7;
}

.employees-list {
  display: flex;
  column-gap: 30px;
}

.employees-list-item {
  flex-basis: calc((100% - 60px) / 3);
}

.employees-title {
  color: var(--primary-text-color-theme-light);
  margin-bottom: 44px;
}

.employees-list-text-content {
  padding-top: 30px;
}

.employees-list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 8px;
}

.employees-list-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* ================= /EMPLOYEES ================= */

/* ================= GALLERY ================= */
/* ================= /GALLERY ================= */

/* ================= CONTACT INFO ================= */
.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
}
/* ================= /CONTACT INFO ================= */

/* ================= FOOTER ================= */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-theme-dark);
}
/* ================= /FOOTER ================= */
