:root {
  --main-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --accent-color: #ff6c00;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--main-font-family);
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contact-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}

.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}

.modal-open-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.modal-open-btn-theme-dark {
  color: #ffffff;
}

.modal-open-btn-theme-light {
  color: #303030;
}

.modal-open-btn:hover,
.modal-open-btn:focus {
  background-color: var(--accent-color);
}
